@model Iteedee.BetaDepot.Models.PlatformViewAppDetail
@using Iteedee.BetaDepot.Common
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="jumbotron">

    <div class="row">
        <div class="col-lg-6">
            <img class="pull-left" src="@Model.AppIconUrl" alt="@Model.AppName" />
            <p>
                <small style="padding-left:20px;">@Model.AppName</small>
            </p>
        </div>
        <div class="col-lg-6">
            <div class="pull-right">
                <p>
                    <a href="@Model.InstallUrl" class="btn btn-primary btn-sm">Install</a>
                </p>
                <p>
                    <a data-id="@Model.BuildId" class="btn btn-danger btn-sm btnDelete">Remove</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Number:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.VersionNumber</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Version Code:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.VersionCode</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Environment:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.Environment</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Notes:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.BuildNotes</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Update by:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.UploadedByName On @Model.UploadedDtm</p>
            </div>
        </div>
    </form>
  
</div>