@using Iteedee.BetaDepot.Models
@using Iteedee.BetaDepot.Common
@{
    ViewBag.Title = "Platforms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="jumbotron">
        <h1>Beta Depot</h1>
    </div>

<div class="row">
    <div class="span12 pull-right">
        @if (@Model.CurrentPlatform.ToUpper() == Constants.BUILD_PLATFORM_ANDROID)
        {
            <a href="~/Platform/Manage/@Model.CurrentPlatform" class="btn btn-success">Manage Android Apps</a>
        }
        else if (@Model.CurrentPlatform.ToUpper() == Constants.BUILD_PLATFORM_IOS)
        {
            <a href="~/Platform/Manage/@Model.CurrentPlatform" class="btn btn-success">Manage iOS Apps</a>
        }
    </div>
        
</div>
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#tbDevelopment" data-toggle="tab">Development 
                            <span class="badge badge-info">
                                @(((IEnumerable<PlatformViewModel.PlatformBuildDetail>)Model.Applications)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_DEVELOPMENT)
                        .ToList()
                        .Count())
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tbTest" data-toggle="tab">Test
                            <span class="badge badge-info">
                                @(((IEnumerable<PlatformViewModel.PlatformBuildDetail>)Model.Applications)
                                .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_TEST)
                                .ToList()
                                .Count())
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tbProduction" data-toggle="tab">Production 
                            <span class="badge badge-info">
                                @(((IEnumerable<PlatformViewModel.PlatformBuildDetail>)Model.Applications)
                                .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_PRODUCTION)
                                .ToList()
                                .Count())
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="tbDevelopment">

                                @if (((IEnumerable<PlatformViewModel.PlatformBuildDetail>)Model.Applications)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_DEVELOPMENT)
                        .ToList()
                        .Count() == 0)
                                {
                                        <h4>No Builds found</h4>
                                }
                                else
                                {
                                    foreach (Iteedee.BetaDepot.Models.PlatformViewModel.PlatformBuildDetail b in Model.Applications)
                                    {
                                        if (b.Environment == Constants.BUILD_ENVIRONMENT_DEVELOPMENT)
                                        {
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@b.AppName</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-3">
                                                        <img src="@b.AppIconUrl" width="120" alt="@b.AppName" />
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div class="row">
                                                            <div class="row">
                                                                <div>
                                                                    <h4>Latest Build : Version <strong>@b.VersionNumber</strong></h4>
                                                                    <small>Latest Build Added by <strong>@b.UploadedByName  <span class="text-muted">@b.UploadedDtm</span></strong></small>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding:10px;">
                                                                <strong>Notes:</strong>
                                                                <div>
                                                                    <small>
                                                                        @b.BuildNotes
                                                                    </small>
                                                                </div>
                                                                <div style="padding-top:10px;">
                                                                    <a href="@Url.RouteUrl("Platform", routeValues: new { controller = "Platform", action = "AppBuildDetail", platform = b.Platform, id = b.AppId, buildId = b.BuildId })">Details</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div style="padding:5px;">
                                                            <a href="@b.InstallUrl" class="btn btn-primary">Install</a>
                                                        </div>
                                                        <div style="padding:5px;">
                                                            <a href="~/Platform/BuildHistory/@b.Platform/@b.AppId/?environment=@b.Environment" class="btn btn-default btn-sm">Previous Builds</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                    </div>
                    <div class="tab-pane" id="tbTest">

                                @if (((IEnumerable<PlatformViewModel.PlatformBuildDetail>)Model.Applications)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_TEST)
                        .ToList()
                        .Count() == 0)
                                {
                                    <h4>No Builds found</h4>
                                }
                                else
                                {
                                    foreach (PlatformViewModel.PlatformBuildDetail b in Model.Applications)
                                    {
                                        if (b.Environment == Constants.BUILD_ENVIRONMENT_TEST)
                                        {
                                             <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@b.AppName</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-3">
                                                        <img src="@b.AppIconUrl" width="120" alt="@b.AppName" />
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div class="row">
                                                            <div class="row">
                                                                <div>
                                                                    <h4>Latest Build : Version <strong>@b.VersionNumber</strong></h4>
                                                                    <small>Latest Build Added by <strong>@b.UploadedByName <span class="text-muted">@b.UploadedDtm</span></strong></small>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding:10px;">
                                                                <strong>Notes:</strong>
                                                                <div>
                                                                    <small>
                                                                        @b.BuildNotes
                                                                    </small>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div style="padding:5px;">
                                                            <a href="@b.InstallUrl" class="btn btn-primary">Install</a>
                                                        </div>
                                                        <div style="padding:5px;">
                                                            <a href="~/Platform/BuildHistory/@b.Platform/@b.AppId/?environment=@b.Environment" class="btn btn-default btn-sm">Previous Builds</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                    </div>
                    <div class="tab-pane" id="tbProduction">
                                @if (((IEnumerable<PlatformViewModel.PlatformBuildDetail>)Model.Applications)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_PRODUCTION)
                        .ToList()
                        .Count() == 0)
                                {
                                    <h4>No Builds found</h4>
                                }
                                else
                                {
                                    foreach (PlatformViewModel.PlatformBuildDetail b in Model.Applications)
                                    {
                                        if (b.Environment == Constants.BUILD_ENVIRONMENT_PRODUCTION)
                                        {
                                               <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">@b.AppName</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="col-sm-3">
                                                        <img src="@b.AppIconUrl" width="120" alt="@b.AppName" />
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <div class="row">
                                                            <div class="row">
                                                                <div>
                                                                    <h4>Latest Build : Version <strong>@b.VersionNumber</strong></h4>
                                                                    <small>Latest Build Added by <strong>@b.UploadedByName <span class="text-muted">@b.UploadedDtm</span></strong></small>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding:10px;">
                                                                <strong>Notes:</strong>
                                                                <div>
                                                                    <small>
                                                                        @b.BuildNotes
                                                                    </small>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <div style="padding:5px;">
                                                            <a href="@b.InstallUrl" class="btn btn-primary">Install</a>
                                                        </div>
                                                        <div style="padding:5px;">
                                                            <a href="~/Platform/BuildHistory/@b.Platform/@b.AppId/?environment=@b.Environment" class="btn btn-default btn-sm">Previous Builds</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                    </div>
                </div>

        }

    </div>

