@using Iteedee.BetaDepot.Models
@using Iteedee.BetaDepot.Common

@{
    ViewBag.Title = "Manage My " + Model.PlatformDesc + "Apps";
}

<div class="jumbotron">
    <h2>Manage My @Model.PlatformDesc Apps</h2>
    @if(Model.Platform == Constants.BUILD_PLATFORM_IOS)
    {
        <img src="~/Content/Images/ios-icon.png" alt="iOS" />
    }
    else if (Model.Platform == Constants.BUILD_PLATFORM_ANDROID)
    {
        <img src="~/Content/Images/android-icon.png" alt="Android" />
    }
</div>
<div class="row">
    @if (Model.Apps.Count > 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Identifier</th>
                    <th class="text-center">Member Count</th>
                    <th class="text-center">Build Count</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Iteedee.BetaDepot.Models.PlatformViewManage.PlatformViewManageApp b in Model.Apps)
                {
                    <tr>
                        <td>
                            <p class="text-center">
                                <img style="width: 128px; height: 128px;" src="@b.AppIconUrl" alt="@b.Name" />
                            </p>
                            <h2 class="text-center">@b.Name</h2>
                        </td>
                        <td class="text-center" style="font-size:large;">@b.ApplicationIdentifier</td>
                        <td class="text-center" style="font-size:x-large;">@b.TeamMemberCount</td>
                        <td class="text-center" style="font-size:x-large;">@b.UploadedBuildCount</td>
                        <td class="text-center"><a data-id="@b.Id" href="#" class="btn btn-primary btn-sm">Team Members</a></td>
                        <td class="text-center"><a data-id="@b.Id" href="#" class="btn btn-danger btn-sm btnDelete">Remove</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <strong>We didn't find any Apps for you to manage. Upload one and you can manage that one.</strong>
    }


</div>

