@using Iteedee.BetaDepot.Models
@using Iteedee.BetaDepot.Common
@{
    ViewBag.Title = "Platforms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="jumbotron">
        <h1>Beta Depot</h1>
    </div>
    <div class="row">
        <div class="span12 pull-right" style="text-align:right">
            <a href="~/ManageApp" class="btn btn-danger btn-large">Manage Apps</a>
        </div>

    </div>

    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            if (Model == null)
            {
                <h2>PICK A Platform up top or upload a build.</h2>
            }
            else
            {
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#tbDevelopment" data-toggle="tab">Development</a></li>
                    <li><a href="#tbTest" data-toggle="tab">Test</a></li>
                    <li><a href="#tbProduction" data-toggle="tab">Production</a></li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="tbDevelopment">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Build Name</th>
                                    <th>Added Date</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (((IEnumerable<ApplicationBuildSummaryModel>)Model.ApplicationBuilds)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_DEVELOPMENT)
                        .ToList()
                        .Count() == 0)
                                {
                                    <tr>
                                        <td colspan="3">No Builds found</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (Iteedee.BetaDepot.Models.ApplicationBuildSummaryModel b in Model.ApplicationBuilds)
                                    {
                                        if (b.Environment == Constants.BUILD_ENVIRONMENT_DEVELOPMENT)
                                        {
                                            <tr>
                                                <td>@b.AppName</td>
                                                <td>@b.UploadedDtm</td>
                                                <td><a href="@b.InstallUrl" class="btn btn-primary">Install</a></td>
                                            </tr>
                                            <tr>

                                                <td colspan="3">
                                                    <strong>BuildNotes:</strong>

                                                    <blockquote>
                                                        <footer>@b.BuildNotes</footer>
                                                    </blockquote>
                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                    <div class="tab-pane" id="tbTest">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Build Name</th>
                                    <th>Added Date</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (((IEnumerable<ApplicationBuildSummaryModel>)Model.ApplicationBuilds)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_TEST)
                        .ToList()
                        .Count() == 0)
                                {
                                    <tr>
                                        <td colspan="3">No Builds found</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (Iteedee.BetaDepot.Models.ApplicationBuildSummaryModel b in Model.ApplicationBuilds)
                                    {
                                        if (b.Environment == Constants.BUILD_ENVIRONMENT_TEST)
                                        {
                                            <tr>
                                                <td>@b.AppName</td>
                                                <td>@b.UploadedDtm</td>
                                                <td><a href="@b.InstallUrl" class="btn btn-primary">Install</a></td>
                                            </tr>
                                            <tr>

                                                <td colspan="3">
                                                    <blockquote>
                                                        <footer>@b.BuildNotes</footer>
                                                    </blockquote>
                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tbProduction">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Build Name</th>
                                    <th>Added Date</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (((IEnumerable<ApplicationBuildSummaryModel>)Model.ApplicationBuilds)
                        .Where(w => w.Environment == Constants.BUILD_ENVIRONMENT_PRODUCTION)
                        .ToList()
                        .Count() == 0)
                                {
                                    <tr>
                                        <td colspan="3">No Builds found</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (Iteedee.BetaDepot.Models.ApplicationBuildSummaryModel b in Model.ApplicationBuilds)
                                    {
                                        if (b.Environment == Constants.BUILD_ENVIRONMENT_PRODUCTION)
                                        {
                                            <tr>
                                                <td>@b.AppName</td>
                                                <td>@b.UploadedDtm</td>
                                                <td><a href="@b.InstallUrl" class="btn btn-primary">Install</a></td>
                                            </tr>
                                            <tr>

                                                <td colspan="3">
                                                    <blockquote>
                                                        <footer>@b.BuildNotes</footer>
                                                    </blockquote>
                                                </td>

                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

        }

    </div>

